.menu .item {
    color:#000;
    float:left;
    background:#FFF;
    padding:10px;
    border-left:1px #EEE solid;
    -webkit-font-smoothing:subpixel-antialiased
}

.menu .group {
    border-radius:3px;
    display:inline-block;
    border:1px #EEE solid;
    margin:5px
}

.menu .group .item .flip {
    -ms-transform:rotateY(180deg);
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform:rotateY(180deg)
}

.menu {
    text-align:center;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}

.menu .group .item:hover, .menu .item:first-child:hover {
	border-left: 3px #55ACEE solid;
}

.menu .item:first-child {
    border-left:none;
}

.drop {
    border: 1px solid #dbdbdb;
    padding: 14px;
    background: white;
    box-shadow: 0 1px 0 rgba(255,255,255,0),0 0 10px rgba(0,0,0,0.1);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-top: 5px;
}

.hidden {
    display: none;
}

.quit {
    float: right;
    top:0;
    right:0;
}

  