body {
    position: relative;
    margin: 0 auto;
    padding: 50px;
    width: 70%;
    font: 400 14px/1.24 helvetica, arial, sans-serif;
    text-shadow: 0 1px 0 white;
  }
  
iframe {
    width: 100%; 
    border: 1px #919191 solid;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 7px 8px;
    color: #333;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right center;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
}
  
.menu .item {
    color:#000;
    float:left;
    background:#FFF;
    padding:10px;
    border-left:1px #EEE solid;
    -webkit-font-smoothing:subpixel-antialiased
}

.menu .group {
    border-radius:3px;
    display:inline-block;
    border:1px #EEE solid;
    margin:5px
}

.menu .group .item .flip {
    -ms-transform:rotateY(180deg);
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform:rotateY(180deg)
}

.btn {
    background: #516066;
    display: block;
    position: relative;
    padding: 10px 15px;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    overflow: hidden;
    letter-spacing: 1px;
    border-radius: 4px;
}

input[type=text] {
    background-color: #fff;
    vertical-align: middle;
    max-width: 100%;
    border: 1px solid #a8afb2;
    border-color: #a8afb2 #d4d7d9 #d4d7d9;
    color: #516066;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: border linear 150ms;
    -moz-transition: border linear 150ms;
    -o-transition: border linear 150ms;
    transition: border linear 150ms;
    font-size: 14px;
    padding: 5px;
    width: 100%;
}

.menu .group .item:hover, .menu .item:first-child:hover {
	border-left: 3px #55ACEE solid;
}

.menu .item:first-child {
    border-left:none;
}
.menu {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.drop {
    border: 1px solid #dbdbdb;
    padding: 14px;
    background: white;
    box-shadow: 0 1px 0 rgba(255,255,255,0),0 0 10px rgba(0,0,0,0.1);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-top: 5px;
}

.hidden {
    display: none;
}

.quit {
    float: right;
    top:0;
    right:0;
    margin-bottom: 5px;
}

  